<footer class="footer" data-background-color="black">
    <div class="container">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="/">
                        Accueil
                    </a>
                </li>
                <li>
                    <a href="/about">
                        A propos
                    </a>
                </li>
                <li>
                    <a href="/services">
                        Nos services
                    </a>
                </li>
                <li>
                    <a href="/contact">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script> Marronile par
            <a href="https://www.marronile.com/" target="_blank">Justin Dah-kenangnon</a>.
        </div>
    </div>
</footer>
 <script src="./javascripts/core/jquery.min.js" type="text/javascript"></script>
  <script src="./javascripts/core/popper.min.js" type="text/javascript"></script>
  <script src="./javascripts/core/bootstrap-material-design.min.js" type="text/javascript"></script>
    <script src="./javascripts/material-kit.js?v=2.0.7" type="text/javascript"></script>